name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend image
        run: docker build -t survey-backend:ci ./backend

      - name: Build frontend image
        run: docker build -t survey-frontend:ci ./frontend